body{
    font-family: "Tahoma", sans-serif;
    text-align: center;
    /* color: #fff; */
    color: #888888;
}


.col{
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}

.card-1{
    
    /* display: flex; */
    background: #f7f7f7;
    color:#888888;
    /* margin: 0; */
    /* padding: 0; */
    border: 1px solid #555;
    list-style-type: none;
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 25px;
    height: 500px;
    width: 480px;
    

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}

.card-2{
    background: #f7f7f7;
    color:#888888;
    border: 1px solid #555;
    list-style-type: none;
    /* margin-right: 60px; */
    margin-bottom: 25px;
    height: 500px;
    width: 480px;
    

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}


.card-3{
    background: #f7f7f7;
    color:#888888;
    border: 1px solid #555;
    list-style-type: none;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 60px;
    margin-left: 50px;

    height: 550px;
    width: 480px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}


.card-4{
    background: #f7f7f7;
    color:#888888;
    border: 1px solid #555;
    list-style-type: none;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 25px;
    height: 550px;

    width: 480px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: .3s;
}
.card-1:hover , .card-3:hover, .card-2:hover, .card-4:hover{
    box-shadow: 0 10px 15px 0 #888888;
}
